<nav>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <img
          src="assets\images\seamless-logo.png"
          width="240"
          class="image-fluid"
        />
      </div>
      <div class="col d-flex justify-content-end">
        <ul class="nav me-4">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact Us</a>
          </li>
        </ul>
        <button class="btn btn-primary">Get Qoute</button>
      </div>
    </div>
  </div>
</nav>
