nav .container {
  position: relative;
}
nav .container .row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-link {
  color: #3c3c3c;
  font-weight: 500;
}
nav .container .row img.image-fluid {
  width: 240px;
  cursor: pointer;
}
.active {
  color: var(--primary-color);
}
@media (max-width: 576px) {
  nav .container .row img.image-fluid {
    width: 200px;
    /* padding: 0 0 0 10px; */
  }
}
